#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tile-row {
  /* align-items: center;   */
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Adjust spacing as needed */
  justify-content:center; /* Or center */
  align-items: center;     /* Center vertically (if you want) */
  min-height: 80vh; 
}

.header{
  margin: 0 auto;
  color: black;
  background-color: black;
  text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  width: 80%;
  outline: 5px rgb(0, 0, 0);
  font-size: small;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




